# Semana 05
Mg. Flor Elizabeth Cerdán León

Temas:
    1. Colecciones de Datos
    2. Estructuras discretas
    3. Clases y objetos
    4. Funciones

In [2]:
# 2.1 eSTRUCTURAS DECISIVAS (IF, ELIF, ELSE)

In [3]:
# IF:
# Problema: Dado el problema de 3 productos ingresados por el teclado.
# Aplicar un descuento del 10% si la 
# venta es mayor o igual a 1000

In [7]:
# Solucion
p1 = float(input("Producto 1: "))
p2 = float(input("Producto 2: "))
p3 = float(input("Producto 3: "))
total = p1 + p2 + p3
if(total >= 1000):
    total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1: 500
Producto 2: 500
Producto 3: 400
El total a pagar es: 1260.0

In [10]:
lista = ["ASUNCION", "BARZOLA", "CAMAN", "CURO", "INCA", "SAHUMA", "TALLEDO", "URBISAGASTEGUI"]

apellido = input("Ingrese el nombre a buscar: ")

#COMO LOS DATOS EN LA LISTA ESTAN EN MAYUSCULA, USAR UPPER()
if apellido.upper() in lista:
    print("Si esta en la lista de LP3")
else:
    print("No esta en la lista de LP3")

Ingrese el nombre a buscar: cama
No esta en la lista de LP3

In [11]:
# PROBLEMA 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla

# CATEGORIA A -> [0, 1000]
# CATEGORIA B -> [1000, 2000]
# CATEGORIA C -> [2000, 5000]
# CATEGORIA D -> [5000, MAS]

In [16]:
importe = float(input("Importe total: "))
if importe < 0:
    print("Datos erroneos")
else:
    if importe <= 1000:
        print("Categoria A")
    else:
        if importe <= 2000:
            print("Categoria B")
        else:
            if importe <= 5000:
                print("Categoria C")
            else:
                print("Categoria D")

importe2 = float(input("Importe total: "))
if importe2 < 0:
    print("Datos erroneos")
elif importe2 <= 1000:
    print("Categoria A")
elif importe2 <= 2000:
    print("Categoria B")
elif importe2 <= 5000:
    print("Categoria C")
elif importe2 > 5000:
    print("Categoria D")

Importe total: 1000
Categoria A
Importe total: 50001
Categoria D

In [17]:
# SOLUCION
aula = ["Inca", "Barzola", "Urbisagastegui", "Caman"]

# Por cada alumno que esta en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Inca
Barzola
Urbisagastegui
Caman

In [18]:
cadena = input("Ingrese cadena:")
for caracter in cadena:
    print(caracter)

Ingrese cadena:hola
h
o
l
a

In [20]:
# Para generar rangos de numeros utilizamos range()
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
for num in range(5, 11):
    print(num)

5
6
7
8
9
10

In [25]:
for num in range(10, 22, 2):
    print(num)

10
12
14
16
18
20

In [26]:
# WHILE

In [ ]:
# EJEMPLO
inicio = 1
fin = 10
while numero <= fin:
    print(numero)
    numero += 1